{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <h1 style="font-size: 60px">{{ category.name }}</h1>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th><h2 style="font-size: 40px; margin-left: 90px">Titre</h2></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td>
                        <a href="{{ path('app_article_show', {'id': article.id}) }}">Aller voir l'article</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun article pour cette catégorie</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('app_category_index') }}"><button class="btn btn-lg btn-primary">Retourner à la liste des catégories</button></a>
{% endblock %}
