{% extends 'base.html.twig' %}

{% block title %}BlogFoot - Compte utilisateurs{% endblock %}

{% block body %}
    <h1>Compte utilisateurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom d'utilisateur</th>
                <td>{{ user.nickname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_user_index') }}"><button class="btn btn-primary">Revenir à la liste des utilisateurs</button></a>

    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}"><button class="btn btn-warning">Modifier ce compte utilisateur</button></a>

    {{ include('admin_user/_delete_form.html.twig') }}
{% endblock %}
